.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  position: relative;

  padding: 16px 24px;

  font-size: 14px;
  line-height: 14px;
  color: #9495a5;

  &__filters {
    display: flex;
    align-items: center;
    gap: 18px;

    font-weight: 700;

    input {
      cursor: pointer;

      &.active {
        color: #3a7cfd;
      }

      &:hover {
        color: #3a7cfd;
      }
    }
  }

  &__clear-completed {
    cursor: pointer;

    &:hover {
      color: $color-primary-dark;
    }
  }

  @media (max-width: 768px) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    &__filters {
      justify-content: center;

      position: absolute;
      bottom: -64px;
      left: 0;
      right: 0;

      padding: 16px 52px;

      border-radius: 5px;
    }
  }
}
