.todos-list {
  display: flex;
  flex-direction: column;
  gap: 50px;

  width: 100%;
  max-width: 620px;
  min-height: 580px;
  padding: 40px;
  margin: auto;

  &__input {
    input {
      width: 100%;
      padding: 24px 72px;

      background: #fff;
      border-radius: 5px;

      box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);

      cursor: pointer;
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    background: #fff;
    border-radius: 5px;

    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
  }

  &__list {
    flex-grow: 1;
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px 24px;

  font-size: 14px;
  line-height: 14px;
  color: #9495a5;

  &__filters {
    display: flex;
    align-items: center;
    gap: 18px;

    font-weight: 700;

    input {
      cursor: pointer;

      &.active {
        color: #3a7cfd;
      }

      &:hover {
        color: #3a7cfd;
      }
    }
  }

  &__clear-completed {
    cursor: pointer;

    &:hover {
      color: $color-primary-dark;
    }
  }
}

.todo {
  position: relative;

  width: 100%;
  padding: 24px 72px;

  border-bottom: 1px solid #e3e4f1;

  p {
    cursor: pointer;
  }

  &.completed {
    p {
      text-decoration: line-through;
    }
  }

  &__checkbox {
    display: none;

    &:checked + .todo__check {
      &::before {
        background: url(./src/assets/icon-check.svg) no-repeat 50% 50%;
        transform: translate(-51%, -47%);
      }
    }
  }

  &__check {
    position: absolute;
    top: calc(50% - 12px);
    left: 24px;
    width: 26px;
    height: 26px;
    background: linear-gradient(135deg, #55ddff 0%, #c058f3 100%);
    border-radius: 50%;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 24px;
      height: 24px;
      background: #fff;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: background 0.1s ease-in-out;
    }
  }

  &__delete {
    position: absolute;
    top: calc(50% - 9px);
    right: 24px;
    width: 18px;
    height: 18px;

    cursor: pointer;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url(./src/assets/icon-cross.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}
